body {
  margin: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: 'Arial', sans-serif;
}

.register-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color : #007bff;
  margin-bottom: 20px;
}