.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between; /* 헤더 내에서 로고와 네비게이션 항목 간의 공간 균형 */
  width: 100%;
  height: 58px;
  padding: 0px 30px;
  white-space: nowrap;
  border-bottom: 1.5px solid lightgray;
  color: black;
  position: fixed; /* 헤더를 페이지 상단에 고정 */
  top: 0;
  left: 0;
  @media screen and (max-width: 480px) {
    padding: 0 16px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
  
  @media screen and (max-width: 480px) {
    .header-nav {
      padding: 0 16px;
    }
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-weight: 500;
  }
  
  @media screen and (max-width: 610px) {
    .nav-item:not(.main-header-link) {
      display: none;
    }
  }
  .nav-item.is-active,
  .nav-item:hover {
    border-bottom: 2px solid #3c3a3a;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 18px;
  }
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}

.header-logo .logo-icon {
  font-size: 1.4rem;
}

.header-nav {
  display: flex;
  gap: 20px;
}


.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-left: 16px;
  border-radius: 4px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(255 255 255 / 31%);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color:  #3c3a3a;
}

.search-bar input::placeholder {
  font-family: var(--body-font);
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
