.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid lightgray;
  margin-bottom: 10px;
}

.img-edit-button {
  width : 200px;
  height : 100px;
  margin-left: 40px;
}

.upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0056b3;
}