/* CSS (App.css) */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.main-page-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.nav {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 50px;
  top: 50px;
  height: calc(100% - 100px);
  overflow-y: auto;
  border-radius: 10px;
}

.content-wrapper {
  padding: 40px;
  /* background-color: red; */
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: calc(100% - 100px);
  /*overflow: auto;*/
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 800px;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  /* background-color: blue; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: auto; /* 콘텐츠가 많아질 때 스크롤이 가능하도록 */
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 13px;
}

.menu .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu--list .item {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu--list .item:hover {
  background-color: #f0f0f0;
}

.menu--list .item .icon {
  margin-right: 10px;
  vertical-align: middle;
}
/* ---------------------------------------------------- */
